@mixin column() {
	margin: 0 rem-calc(10);
  width: 90%;
  @include breakpoint(small only) {
    max-width: rem-calc(400);
  } 
  @include breakpoint(medium) {
  	// margin: 0 rem-calc(20);
    width: 28%;
  }
  @include breakpoint(large) {
  	margin: 0 $column-gutter; //////
    width: 28%;
  }
}

@mixin row() {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@mixin col() {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
