@mixin column() {
	margin: 0 rem-calc(8);
  width: 90%;
  @include breakpoint(small only) {
    max-width: rem-calc(400);
  } 
  @include breakpoint(medium up) {
    width: 30%;
  }
}

@mixin row() {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@mixin col() {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
